# COMP3411 Assignment 2 Question 4

In [13]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
jverbose = True

## Importing data

In [14]:
# Notes
# Currently using adult.data as test data and adult.test as validation data

headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

train = pd.read_csv('adult.data', sep=', ', names=headers, index_col=False)
test = pd.read_csv('adult.test', sep=', ', names=headers, index_col=False, skiprows=1)

if jverbose:
    train.head()
    test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

## Cleaning

### Drop invalid values

In [15]:

# Show data loss from dropping corrupt rows
train_drop = train.replace('?', np.nan).dropna()
test_drop = test.replace('?', np.nan).dropna()
if jverbose:
    train_drop.shape[0] / train.shape[0]
    test_drop.shape[0] / test.shape[0]

train = train_drop
test = test_drop
del train_drop
del test_drop

0.9263229016307853

0.9250046065966464

### Drop period from adult.test

In [16]:
def remove_period(income):
    if '.' in income:
        income = income.replace('.', '')
    return income
        

test['income'] = test['income'].apply(remove_period)

if jverbose:
    test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

## Splitting data

In [17]:
def split(data):
    return data.iloc[:, :-1], data.iloc[:, -1]

X_train, y_train = split(train)
X_test, y_test = split(test)

# Sanity check
assert(X_train.shape[0] == y_train.shape[0])
assert(X_test.shape[0] == y_test.shape[0])

if jverbose:
    X_train.head()
    y_train.head()
    X_test.head()
    y_test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

0    <=50K
1    <=50K
2    <=50K
3    <=50K
4    <=50K
Name: income, dtype: object

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States

0    <=50K
1    <=50K
2     >50K
3     >50K
5    <=50K
Name: income, dtype: object

## Pre-processing

### Scaling

### One Hot Encoding and Label Encoding

In [18]:
import csv
from sklearn.preprocessing import LabelEncoder, OneHotEncoder


with open('dummy') as f:
    reader = csv.reader(f)
    categories = list(reader)
# Remove label
for category in categories:
    category.pop(0)


def onehotencoding(X, categories=categories):
    print(categories)
    X_cat = X[['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']].copy()
    X_cont = X[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']].copy()
    X_cat = OneHotEncoder(categories=categories).fit_transform(X_cat)
    return X_cont.join(pd.DataFrame.sparse.from_spmatrix(X_cat))


# Make a copy of the original data
X_train_original = X_train.shape
X_test_original = X_test.shape
y_train_original = y_train.shape
y_test_original = y_test.shape

# # One Hot Encoding X values
# # Create dataframe of columns that require one hot encoding
# X_total = X_train.append(X_test, ignore_index=True)
# X_total_cat_cols = X_total[['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']].copy()

# # Create list of categories that will be encoded to
# with open('dummy') as f:
#     reader = csv.reader(f)
#     categories = list(reader)
# # Remove label
# for category in categories:
#     category.pop(0)

# # One hot encoding
# X_total_cat_cols = OneHotEncoder(categories=categories).fit_transform(X_total_cat_cols)

# # Create dataframe of columns that do not require one hot encoding
# X_total_cont_cols = X_total[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss']].copy()

# # Rejoin cat and cont columns
# X_total = X_total_cont_cols.join(pd.DataFrame.sparse.from_spmatrix(X_total_cat_cols))

# # Split training/test
# X_train = X_total[:X_train_original[0]]
# X_test = X_total[X_train_original[0]:]

# X_enc = OneHotEncoder().fit(X_total)
# X_total = pd.DataFrame.sparse.from_spmatrix(X_enc.transform(X_total))
# X_train = X_total[:X_train.shape[0]]
# X_test = X_total[X_train.shape[0]:]

X_train = onehotencoding(X_train)
X_test = onehotencoding(X_test)

y_train = pd.DataFrame(LabelEncoder().fit_transform(y_train))
y_test = pd.DataFrame(LabelEncoder().fit_transform(y_test))

# Label Encoding y values
# y_total = y_train.append(y_test, ignore_index=True)
# y_enc = LabelEncoder().fit(y_total)
# y_total = pd.DataFrame(y_enc.transform(y_total))
# y_train = y_total[:y_train_original[0]]
# y_test = y_total[y_train_original[0]:]

# Sanity check
assert(X_train_original[0] == X_train.shape[0])
assert(X_test_original[0] == X_test.shape[0])
assert(y_train_original[0] == y_train.shape[0])
assert(y_test_original[0] == y_test.shape[0])

if jverbose:
    X_train.head()
    y_train.head()
    X_test.head()
    y_test.head()

'workclass'

'education'

'marital-status'

'occupation'

'relationship'

'race'

'sex'

'native-country'

[['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked'], ['Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool'], ['Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'], ['Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces'], ['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'], ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'], ['Female', 'Male'], ['United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands']]
[['Private', 'Self-emp-not-inc', 'Self-emp-inc', 'Federal-gov', 'Local-gov', 'State-gov', 'Without-pay', 'Never-worked'], ['Bachelors', 'Some-college', '11th', 'HS-grad', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', '9th', '7th-8th', '12th', 'Masters', '1st-4th', '10th', 'Doctorate', '5th-6th', 'Preschool'], ['Married-civ-spouse', 'Divorced', 'Never-married', 'Separated', 'Widowed', 'Married-spouse-absent', 'Married-AF-spouse'], ['Tech-support', 'Craft-repair', 'Other-service', 'Sales', 'Exec-managerial', 'Prof-specialty', 'Handlers-cleaners', 'Machine-op-inspct', 'Adm-clerical', 'Farming-fishing', 'Transport-moving', 'Priv-house-serv', 'Protective-serv', 'Armed-Forces'], ['Wife', 'Own-child', 'Husband', 'Not-in-family', 'Other-relative', 'Unmarried'], ['White', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other', 'Black'], ['Female', 'Male'], ['United-States', 'Cambodia', 'England', 'Puerto-Rico', 'Canada', 'Germany', 'Outlying-US(Guam-USVI-etc)', 'India', 'Japan', 'Greece', 'South', 'China', 'Cuba', 'Iran', 'Honduras', 'Philippines', 'Italy', 'Poland', 'Jamaica', 'Vietnam', 'Mexico', 'Portugal', 'Ireland', 'France', 'Dominican-Republic', 'Laos', 'Ecuador', 'Taiwan', 'Haiti', 'Columbia', 'Hungary', 'Guatemala', 'Nicaragua', 'Scotland', 'Thailand', 'Yugoslavia', 'El-Salvador', 'Trinadad&Tobago', 'Peru', 'Hong', 'Holand-Netherlands']]

,age,fnlwgt,education-num,capital-gain,capital-loss,0,1,2,3,4,...,89,90,91,92,93,94,95,96,97,98
0,39,77516,13,2174,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,83311,13,0,0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,38,215646,9,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53,234721,7,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,28,338409,13,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

   0
0  0
1  0
2  0
3  0
4  0

,age,fnlwgt,education-num,capital-gain,capital-loss,0,1,2,3,4,...,89,90,91,92,93,94,95,96,97,98
0,25,226802,7,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,38,89814,9,0,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,28,336951,12,0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,44,160323,10,7688,0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,34,198693,6,0,0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

       0
30162  0
30163  0
30164  1
30165  1
30166  0

## Global functions

In [19]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV


def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")


def grid_search(estimator, params, _steps, scoring=None, n_iter=1000, cv=None, n_jobs=-1, n_top=3,  verbose=True):

    steps = [
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore')),
    ]
    steps.extend(_steps)
    print(steps)

    pipe = Pipeline(steps=steps)

    grid_search = GridSearchCV(pipe, param_grid=params, cv=cv, n_jobs=n_jobs, scoring=scoring)
    grid_search.fit(X_train, y_train)

    if verbose:
        report(grid_search.cv_results_, n_top=n_top)
    
    return grid_search

## Decision Trees

### DecisionTreeClassifier

In [20]:
from sklearn.tree import DecisionTreeClassifier


dtc = DecisionTreeClassifier(random_state=0)
dtc.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [21]:
from sklearn.metrics import log_loss, mean_squared_error


dtc.score(X_train, y_train)

if jverbose:
    X_train.head()
    y_train.head()

dtc.score(X_test, y_test)

if jverbose:
    X_test.head()
    y_test.head()

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

### DecisionTreeRegressor

In [22]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=0)
dtr.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [23]:
dtr.score(X_train, y_train)

if jverbose:
    X_train.head()
    y_train.head()

dtr.score(X_test, y_test)

if jverbose:
    X_test.head()
    y_test.head()

NotFittedError: This DecisionTreeRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

### ExtraTreeClassifier

### ExtraTreeRegressor

## Naive Bayes

### BernoulliNB

### CategoricalNB

### ComplementNB

### GaussianNB

### MultinomialNB